body{
    background: #ED4264;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFEDBC, #ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}

.well{
    background-color: white;
    border-radius: 5px;
}

.btn{
    color: #ED4264;
    background-color: #FFEDBC;
    border-radius: 5px;
    border: 2px solid #ED4264;
}

.buttons:hover {
    color: #FFEDBC;
    border: 2px solid #FFEDBC;
    background-color: #ED4264;
}

